In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
np.__version__

'1.24.4'

In [3]:
pd.__version__

'2.0.3'

In [16]:
df = pd.DataFrame({
    'feature': [0.5, 1.2, 3.8, 4.4, 5.9],  # List of 5 floats
    'labels': [0, 1, 2, 1, 0]             # List of 5 integers between 0 and 2
})

df

   feature  labels
0      0.5       0
1      1.2       1
2      3.8       2
3      4.4       1
4      5.9       0

In [18]:
df.rename(columns={'labels': 'label'}, inplace=True)

df

   feature  label
0      0.5      0
1      1.2      1
2      3.8      2
3      4.4      1
4      5.9      0

In [19]:
iris = sns.load_dataset('iris')
iris.sort_values('species',ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

In [24]:
iris.species.value_counts().to_frame('n')

             n
species
setosa      50
versicolor  50
virginica   50

In [27]:
len(iris[(iris['petal_length'] <= 1.4) | (iris['petal_length'] >= 1.6)])

137

In [28]:
iris[(iris['petal_length'] <= 1.4) | (iris['petal_length'] >= 1.6)].shape[0]

137

In [30]:
iris['min_petal'] = iris.apply(lambda row: min(row['petal_length'], row['petal_width']), axis=1)

In [31]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  min_petal
0           5.1          3.5           1.4          0.2  setosa        0.2
1           4.9          3.0           1.4          0.2  setosa        0.2
2           4.7          3.2           1.3          0.2  setosa        0.2
3           4.6          3.1           1.5          0.2  setosa        0.2
4           5.0          3.6           1.4          0.2  setosa        0.2

In [33]:
iris.tail()

,sepal_length,sepal_width,petal_length,petal_width,species,min_petal
145,6.7,3.0,5.2,2.3,virginica,2.3
146,6.3,2.5,5.0,1.9,virginica,1.9
147,6.5,3.0,5.2,2.0,virginica,2.0
148,6.2,3.4,5.4,2.3,virginica,2.3
149,5.9,3.0,5.1,1.8,virginica,1.8

In [34]:
sum(iris.petal_length <= iris.petal_width)

0

In [35]:
iris[['petal_length','petal_width']].idxmin(axis=1).value_counts()

petal_width    150
Name: count, dtype: int64

In [37]:
pivot_table = pd.pivot_table(
    iris,
    values=['sepal_width', 'petal_width'],
    index='species',
    aggfunc=['median', 'mean']
)

print(pivot_table)

                median                    mean
           petal_width sepal_width petal_width sepal_width
species
setosa             0.2         3.4       0.246       3.428
versicolor         1.3         2.8       1.326       2.770
virginica          2.0         3.0       2.026       2.974

In [39]:
left = pd.DataFrame({"key":["jamie","bill"],"age":[15, 22]})
left = left.set_index('key')
left

       age
key
jamie   15
bill    22

In [40]:
right = pd.DataFrame({"key":["jamie","bill","asher"],"height":[6, 5, 7]})
right = right.set_index('key')
right

       height
key
jamie       6
bill        5
asher       7

In [43]:
inner = pd.merge(left, right, on="key", how="inner")
inner

       age  height
key
jamie   15       6
bill    22       5

In [44]:
outer = left.join(right, how="outer")
outer

        age  height
key
asher   NaN       7
bill   22.0       5
jamie  15.0       6

In [49]:
data = pd.Series([1, 1, 2, 3, 5, 8])

data_array = data.to_numpy()

reshaped_array = data_array.reshape(2, 3)

print(reshaped_array)
print(reshaped_array.shape)

[[1 1 2]
 [3 5 8]]
(2, 3)

In [55]:
list1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a','c','d','e'])
list2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a','c','e','f','g'])

In [57]:
list1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [58]:
list2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [59]:
list1 + list2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64